<div class="row">
    <!--<div class="col col-xl-6 col-lg-12">-->
    <div class="col">
        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <!--<div class="col pull-left">-->
                    <div class="col pull-left align-middle">
                        <p class="align-text-middle">
                            Live calculation - {{cryptoCurrrency}}
                        </p>
                    </div>

                    <div class="col">
                        <div class="pull-right">
                            <ng-template let-crs="crsV" [ngTemplateOutletContext]="{ crsV: ['PLN', 'EUR', 'USD'] }" [ngTemplateOutlet]="t" #t>
                                <span>1 BTC / </span>
                                <span *ngFor="let c of crs; let i=index">
                                    {{this.stockService.raw().currentExchange('BTC', c ) | async}} {{c}} {{((i < crs.length-1) ? '/' : '')}}
                                </span>
                            </ng-template>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-block">
                <div class="row text-center">
                    <div class="col">Ilość [{{cryptoCurrrency}}]</div>
                    <div class="col">Kurs kupna [{{currrency}}]</div>
                    <div class="col">Cena [{{currrency}}]</div>
                    <div class="col">Min. kurs z zyskiem [{{currrency}}]</div>
                    <div class="col">Kurs sprzedaży [{{currrency}}]</div>
                    <div class="col">Zysk [{{currrency}}]</div>

                </div>
                <app-calc-sheet-row *ngFor="let row of positions" [model]="row"></app-calc-sheet-row>


            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" (click)="addNewSheetRow()">+</button>
                </div>
            </div>
        </div>
    </div>
</div>

