<div class="row">
    <!--<div class="col col-xl-6 col-lg-12">-->
    <div class="col xl-12">
        <div class="card mb-3">
            <div class="card-header">
            </div>

            <div class="card-block">
                <hotTable #hot [data]="data"
                          (after-change)="afterChange($event)"
                          (after-on-cell-mouse-down)="afterOnCellMouseDown($event)"
                          [colHeaders]="colHeaders"
                          [columns]="columns"
                          [options]="options">


                </hotTable>
            </div>

            <div class="card-footer">
                <!--<div class="pull-right">-->
                    <!--<button type="submit" class="btn btn-primary" (click)="addNewSheetRow()">+</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>




