<form [formGroup]="rowGroup" novalidate>
    <div formGroupName="config" class="form-group row">
        <app-info-field class="col" formControlName="ilosc"></app-info-field>
        <app-info-filed-with-optional-stream class="col" formControlName="bid" [stream$]="stockService.currentExchangePlnBtc()"></app-info-filed-with-optional-stream>
        <app-info-field class="col" formControlName="cenaBid" [locked]="true" [useFormatting]="true"></app-info-field>
        <app-info-field class="col" formControlName="minAsk" [maxDecimal]="2" [locked]="true" [useFormatting]="true" ></app-info-field >
        <app-info-filed-with-optional-stream class="col" formControlName="ask" [stream$]="stockService.currentExchangePlnBtc()"></app-info-filed-with-optional-stream>
        <app-info-field class="col" formControlName="zysk" [locked]="true" [useFormatting]="true"></app-info-field>
    </div>
</form>

